<nav class="navbar d-flex justify-content-between navbar-expand-lg navbar-dark bg-dark text-center text-white">

  <div class="container-fluid">

    <a class="navbar-brand text-white"><img
        src="https://img2.freepng.fr/20180325/juw/kisspng-electricity-computer-icons-electrical-energy-symbo-power-socket-5ab73a54a051b8.2856738115219574606567.jpg"
        width="30" height="30"></a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse align-self-end" id="navbarNavDropdown">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/products" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">TOUS nos Véhicules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/cars" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Voitures</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" routerLink="/moto" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Motos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/trottinette" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Trottinettes</a>
        </li>
        <!-- <li class="nav-item">
          <a type="button" class="btn btn-light ms-5 me-5" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Présentation du projet</a>
        </li> -->
        <li class="nav-item">
          <a type="button" class="btn btn-light ms-5 me-5" data-bs-toggle="collapse" data-bs-toggle="modal"
          data-bs-target="#classicModalPresentation">Présentation du projet</a>
        </li>

<!--trigger modal CONNEXION -->
        <li class="nav-item">
          <a class="nav-link text-white" *ngIf="!isAdmin" class=" float-end btn btn-outline-secondary" data-bs-toggle="modal"
          data-bs-target="#classicModal">CONNEXION</a>
        </li>
      
<!-- <li>
  <button *ngIf="!isAdmin" type="button" class="btn btn-primary float-end" data-bs-toggle="modal"
    data-bs-target="#classicModal">CONNEXION</button></li> -->
      </ul>

    </div>






  </div>
  <!-- test connexion -->
  <!-- dropdown button -->
  <span class="navbar-text me-5">

    


    <!-- <div  (click)="onconect()" *ngIf="isAdmin" class="input-group float mb-3"> -->
    <div *ngIf="isAdmin" class="input-group float mb-3">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">{{authen.username}} Administrateur <i class="fa-solid fa-user-doctor"></i></button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item text-body" routerLink="/gestionAdmin">Gestion des véhicules</a></li>
        <li><a class="dropdown-item text-body" routerLink="/commandes">Gestion des commandes</a></li>
        <li><a class="dropdown-item text-body" routerLink="/ajoutervehicule">Ajouter un véhicule</a></li>
        <li> <a class="dropdown-item text-body" (click)="disconect()" routerLink="/"> Déconnection </a></li>
      </ul>
    </div>






  <!-- Modal Présenttion-->
  <div class="modal fade" id="classicModalPresentation" tabindex="-1" aria-labelledby="classicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-body" id="classicModalLabel">Présentation projet </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

         <h4>body</h4>
        <div>
          <div class="mt-3 bg-light">
            <p class="text-dark">Nous avons choisi de créer un site d'e-commerce de vente de véhicules électriques. Actuellement, concernant la mobilité urbaine, les moyens de transport électriques sont de plus en plus demandés.</p>
            <p class="text-dark">Ce site présente des voitures (d'occasion), des motos et des trottinettes, toutes électriques.</p>
          </div>

          <div class="mt-3 border">
            <p class="text-dark">En l'absence de cahier des charges client, nous avons opté pour une charte graphique moderne, épurée, sobre et contrastée (fonds noirs et écritures des titres en vert) En rappel de la première image d'accueil du site: cette magnifique Mercedes électrique.</p>
          </div>
        </div>


        <p class="text-dark mt-3">Ce site est structuré en 2 grands ensembles :</p>
        <div class="  bg-light">
          
          <ul>
              <li class="text-dark">la partie Utilisateur, qui présente les véhicules à disposition avec différentes options de tri.</li>
              <li class="text-dark"> la partie Administrateur, qui regroupe différentes fonctionnalités de gestion.</li>
          </ul>
        </div>

        <div class="mt-3  ">
          <p class="text-dark">La partie Utilisateur s'attache à proposer une expérience claire et simple d'utilisation sous 2 axés de recherche:</p>
          <ul>
              <li class="text-dark">pour les utilisateurs qui savent déjà quelle catégorie de véhicules les intéresse: on peut sélectionner Voitures / Motos / Trotinettes.
                Dans ces 3 catégories, on peut trier par budget ou par mot clé ou encore par sous-catégorie dans le cas de Motos (avec / sans Permis)</li>
              <li class="text-dark"> pour les utilisateurs qui préfèrent se renseigner en voyant l'ensemble des véhicules proposés, là encore, nous proposons des recherches soit par budget, soit par mot clé, soit par catégorie de véhicules.</li>
          </ul>
        </div>


        <div class="mt-3 bg-light ">
          <p class="text-dark">La partie Administrateur, cachée de l'utilisateur, est accessible uniquement par authentification avec un identitfiant et un mot de passe.</p>
        
          <p class="text-dark">Elle regroupe les outils de gestion concernant :</p>
          <ul>
            <li class="text-dark">les véhicules : un tableau récapitulatif reprend tous les véhicules visibles; de manière très intuitive, il permet de supprimer un véhicule, d'en modifier les différentes caractéristiques.
              L'ajout d'un nouveau véhicule peut être réalisé grâce à ce formulaire (d'apparence plus "punchy" qui rappelle un peu les néons de tunings de certaines voitures et qui reste dans la Charte graphique que nous avons définie au début de notre projet. C'est un exemple de ce qui peut être proposé au client, avec son accord évidemment.)</li>
            <li class="text-dark">  concernant les commandes effectuées, là aussi, un tableau récapitulatif offre une vision claire de l'ensemble des commandes à honorer. On peut y voir, pour chacune, le statut de la commande et des options intuitives permettant de supprimer la commande concernee ou d'en modifier les caractéristiques.</li>
        </ul>
        
        </div>


        <div class="mt-3 ">
          <p class="text-dark">Cette expérience fluide et réactive est rendue possible par l'utilisation du Framework Angular (v13) qui permet un changement d'affichage sans temps de rechargement.</p>
          <p class="text-dark">La partie Front est hébergée par Netlify.</p>
          <p class="text-dark">En ce qui concerne les ressources informatiques, le Front est donc pris en charge par le Framework Angular, utilisant le langage typeScript en plus du trio de base HTML / CSS / JS.
            Nous avons eu recours aux bibliothèques Bootstrap et Fontawesome afin de fournir des modèles de base, adaptés ensuite à notre projet. </p>
        
        </div>


        <div class="mt-3  bg-light">
          <p class="text-dark">La partie Back est hébergée grâce à Heroku.</p>
          <p class="text-dark">Le Back a été créé grâce à MongoDB (qui est une base de données NoSQL) utilisant le langage Mongoose et l'application de tests Postman.           </p>

      </div>


      <div class="mt-3 ">
        <p class="text-dark">Les différentes versions successives de ce projet ont été sauvegardées grâce à l'outil de versioning Git et sa plateforme GitHub permettant un travail collaboratif facilité et efficace.</p>
      
        <p class="text-dark">Cette interaction a été initiée sur Trello, outil permettant de planifier et d'affecter à l'un ou l'autre les différentes tâches. Il permet aussi de suivre l'évolution de la réalisation du projet.</p>
        <p class="text-dark">Le travail de collaboration a été possible grâce à la méthode Agile qui impose un point quotidien sur l'avancée du projet en production selon le pilier de gestion de la qualité: la roue de Deming ou PCDA pour Plan Do Check Act.et une très bonne entente, communication et répartition des tâches au sein de notre binôme !</p>
      </div>


      <div class="mt-3 boder bg-light">
        <h5 class="text-dark">Difficultés :</h5>
        <p class="text-dark">Partis sur une base de données fractionnée en 3 tables (voitures / motos / trotinettes), nous avons dû faire marche arrière car la liaison des tables ne nous étaient pas accessible encore en termes de connaissances et un peu ardue pour le temps imparti.</p>
      </div>

      <div class="mt-3 boder bg-light">
        <h5 class="text-dark">Solutions :</h5>
        <p class="text-dark">Sacrifier 1 journée pour rétablir une table unique en créant plutôt des sous-catégories qui étaient plus facilement gérables pour nous.</p>
      </div>

      <div class="mt-3 boder bg-light">
        <h5 class="text-dark">Défis:</h5>
        <p class="text-dark">Réalisé le projets en moins de 10 jours</p>
        <p class="text-dark">Arriver à présenter une expérience client qui s'adapte à toutes les tailles d'écran (responsive)</p>
      </div>

<!-- 
          <div class="mt-3  bg-light">
              <p class="text-dark"></p>
          </div>

          <div class="mt-3 border">
              <p class="text-dark"></p>
          </div>


 -->



        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>  
        </div>
      </div>
    </div>
  </div>





    <!-- Modal CONNEXION-->
    <div class="modal fade" id="classicModal" tabindex="-1" aria-labelledby="classicModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-body" id="classicModalLabel">CONNEXION </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <!-- conect good -->
            <div *ngIf="conectGood" class="container justify-content-center">
              <p class="text-success text-center"> Connexion réussie. Bonjour <strong> {{authen.username}} </strong>!</p>
            </div>

            <!-- FORM addUser -->

            <div class="container mt-5">
              <form #fConnect="ngForm" class="row  g-3 shadow-lg mb-4 p-2 bg-body rounded">


                <div class="col-md-12">
                  
                  <label for="username" class="form-label text-body d-flex justify-content-start">Pseudo</label>
                  <input type="text" id="username" class="form-control" name="username" ngModel required>

                </div>

                <div class="col-md-12 ">
                  
                  <label for="mdp" class="form-label text-body d-flex justify-content-start">Mot de passe</label>
                  <input type="password" class="form-control" name="mdp" ngModel required>

                </div>

                <div class="modal-footer">
                  <button type="button" (click)="onconect(fConnect.value)" *ngIf="!isAdmin"
                    class="btn btn-secondary">Se connecter <i class="fa-regular fa-user"></i></button>

                </div>

              </form>

            </div>
            <!-- fin form -->

            <!-- conect wrong -->
            <div *ngIf="conectWrong" class="container justify-content-center">
              <p class="text-danger text-center"> le mot de passe ou pseudo ne correspond pas </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            
          </div>
        </div>
      </div>
    </div>




  </span>
  <!--fin dropdown button -->




</nav>


<script>
  ('#username').on('hidden.bs.modal', function () {
    $(this).find('form').trigger('reset');
})
</script>