<nav class="navbar d-flex justify-content-between navbar-expand-lg navbar-dark bg-dark text-center text-white">

  <div class="container-fluid">

    <a class="navbar-brand text-white"><img
        src="https://img2.freepng.fr/20180325/juw/kisspng-electricity-computer-icons-electrical-energy-symbo-power-socket-5ab73a54a051b8.2856738115219574606567.jpg"
        width="30" height="30"></a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse align-self-end" id="navbarNavDropdown">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/products" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">TOUS nos Véhicules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/cars" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Voitures</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" routerLink="/moto" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Motos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/trottinette" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Trottinettes</a>
        </li>

<!--trigger modal CONNEXION -->
        <li class="nav-item">
          <a class="nav-link text-white" *ngIf="!isAdmin" class=" float-end btn btn-outline-secondary" data-bs-toggle="modal"
          data-bs-target="#classicModal">CONNEXION</a>
        </li>
      
<!-- <li>
  <button *ngIf="!isAdmin" type="button" class="btn btn-primary float-end" data-bs-toggle="modal"
    data-bs-target="#classicModal">CONNEXION</button></li> -->
      </ul>

    </div>






  </div>
  <!-- test connexion -->
  <!-- dropdown button -->
  <span class="navbar-text me-5">

    


    <!-- <div  (click)="onconect()" *ngIf="isAdmin" class="input-group float mb-3"> -->
    <div *ngIf="isAdmin" class="input-group float mb-3">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">{{authen.username}} Administrateur <i class="fa-solid fa-user-doctor"></i></button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item text-body" routerLink="/gestionAdmin">Gestion des véhicules</a></li>
        <li><a class="dropdown-item text-body" routerLink="/commandes">Gestion des commandes</a></li>
        <li><a class="dropdown-item text-body" routerLink="/ajoutervehicule">Ajouter un véhicule</a></li>
        <li> <a class="dropdown-item text-body" (click)="disconect()" routerLink="/"> Déconnection </a></li>
      </ul>
    </div>

    <!-- Modal CONNEXION-->
    <div class="modal fade" id="classicModal" tabindex="-1" aria-labelledby="classicModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-body" id="classicModalLabel">CONNEXION </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <!-- conect good -->
            <div *ngIf="conectGood" class="container justify-content-center">
              <p class="text-success text-center"> Connexion réussie. Bonjour <strong> {{authen.username}} </strong>!</p>
            </div>

            <!-- FORM addUser -->

            <div class="container mt-5">
              <form #fConnect="ngForm" class="row  g-3 shadow-lg mb-4 p-2 bg-body rounded">


                <div class="col-md-12">
                  
                  <label for="username" class="form-label text-body d-flex justify-content-start">Pseudo</label>
                  <input type="text" id="username" class="form-control" name="username" ngModel required>

                </div>

                <div class="col-md-12 ">
                  
                  <label for="mdp" class="form-label text-body d-flex justify-content-start">Mot de passe</label>
                  <input type="password" class="form-control" name="mdp" ngModel required>

                </div>

                <div class="modal-footer">
                  <button type="button" (click)="onconect(fConnect.value)" *ngIf="!isAdmin"
                    class="btn btn-secondary">Se connecter <i class="fa-regular fa-user"></i></button>

                </div>

              </form>

            </div>
            <!-- fin form -->

            <!-- conect wrong -->
            <div *ngIf="conectWrong" class="container justify-content-center">
              <p class="text-danger text-center"> le mot de passe ou pseudo ne correspond pas </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            
          </div>
        </div>
      </div>
    </div>




  </span>
  <!--fin dropdown button -->




</nav>


<script>
  ('#username').on('hidden.bs.modal', function () {
    $(this).find('form').trigger('reset');
})
</script>