<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center text-white">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Logo?</a>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products">TOUS nos Produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/cars">Voitures</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" routerLink="/moto" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Moto
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-black" routerLink="/">Avec Permis</a></li>
              <li><a class="dropdown-item text-black" routerLink="/">Sans Permis</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/trottinettes">Trottinettes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/">Connexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>