/* .ngx-pagination li.current{
    background: #198754 !important;
    background-color: rgb(25, 135, 84) !important;
} */



.aNeon{
    position:relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    /* overflow: hidden; */
    transition: 0.5s;
    letter-spacing: 4px;
}

.aNeon:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow:  0 0 15px #03e9f4,
    0 0 15px #03e9f4,
    0 0 15px #03e9f4,
    0 0 15px #03e9f4;

}

.divneon span{
    position: absolute;
    display: block;
}

.sTop{
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% { left: -100%; }
    50%,100% { left: 100%; }

}

/* 2 */
.sTop2{
    top: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 2s linear infinite;
}

@keyframes animate2 {
    0% { top: -100%; }
    50%,100% { top: 100%; }

}