:host >>> ngx-skeleton-loader .loader{
  height: 30px;
  width: 30%;
  background-color: rgb(192, 190, 190);
  height: 400px;
  margin-right: 3%;
  
}

.skeletonloaderr{
  margin-left: 2%;
  /* border: #DDFFF7 solid 5px; */
}


.sizeModalDialog{
  max-width: 100%
}

.sizeModal{
  margin: 3% 2% 2% 2%;
    max-width: 97vw;
    max-height: 93vh;
    /* padding: auto; */
    /* margin: 1vh 0 1vh 1vw;
    margin: 1vh 0 1vh 1vw; */
    /* padding-right: 2%; */
}
/* .ngx-pagination li.current{
    background: #198754 !important;
    background-color: rgb(25, 135, 84) !important;
} */

.btn-close{
  color: #DDFFF7;
  border: 2px black solid;
}



.box{
    width: 300px; height: 200px;
    background-color: #DDFFF7;
    position: relative;
    box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
  }
  .box:after, .box:before{
    mix-blend-mode:multiply;
    filter:none;
    z-index: -1;
    content:'';
    width:calc(100% + (50px * 2));
    height:calc(100% + (50px * 2));
    position: absolute;
    display: block;
    animation: border 10s ease-in-out infinite;
    transform:translateX(-50px) translateY(-50px);
  }
  @keyframes border {
    0%, 100% {
      -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
              clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
    }
    50% {
      -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
              clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
    }
  }
  
  .box:after{
    animation-delay: -5s;
    background-color: #93e1d8;
    clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  .box:before {
    background-color: #AA4465;
      clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
  
  .box:hover:after{
    animation-delay: -0.1s;
  }
  .box:hover:before, .box:hover:after {
  
            animation-duration: 0.2s;
  }
  
  





/* .aNeon{
    position:relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase; */


    /* overflow: hidden; */
/*     
    transition: 0.5s;
    letter-spacing: 4px;
} */

/* .aNeon:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow:  0 0 15px #03e9f4,
    0 0 15px #03e9f4,
    0 0 15px #03e9f4,
    0 0 15px #03e9f4;

}

.divneon span{
    position: absolute;
    display: block;
}

.sTop{
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% { left: -100%; }
    50%,100% { left: 100%; }

} */

/* 2 */
/* .sTop2{
    top: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 2s linear infinite;
}

@keyframes animate2 {
    0% { top: -100%; }
    50%,100% { top: 100%; }

} */