<h2 class="text-center text-success p-5 bg-light">Tous nos véhicules</h2>
<div class="bg-dark p-3">
  <div class="container pb-3">

    <div class="row">
      <!--------------------------------------------- ZONE de RECHERCHE ---------------------------------->
      <div class="col-5">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="saisir votre recherche" aria-label="Search"
            name="KeyWord" [(ngModel)]="MotCle">
          <button class="btn btn-outline-success me-5" type="submit" (click)="getByMotCle()">Chercher</button>
        </form>
      </div>

      <!--------------------------------------------- ZONE de TRI par Catégorie ---------------------------------->
      <div class="col-2">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">Catégorie</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let C of allCategory"><a class="dropdown-item" (click)="getByCategoVehicule(C)">{{C}}</a></li>
        </ul>
      </div>

      <!---------------------------------- Prix MINI / Prix MAX / Chercher ---------------------------------------->
      <div class="col-5">
        <form class="row" (ngSubmit)="getByPrix(f.value)" #f="ngForm">
          <div class="col-4">
            <input type="number" ngModel name="min" class="form-control" placeholder="prix mini">
          </div>
          <div class="col-4">
            <input type="number" ngModel name="max" class="form-control" placeholder="prix max">
          </div>
          <div class="col-4">
            <button class="btn btn-outline-success" type="submit">Chercher</button>
          </div>
        </form>
      </div>

    </div>

  </div>




  <!----------------------------------------- PARTIE PRINCIPALE -------------------------------------------->
  <div class="container">

    <!-- BOUCLE all véhicules -->
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col" *ngFor="let allP of allProducts | paginate : { itemsPerPage: 6, currentPage: p}">
        <div class="card h-100">
          <img src="{{ allP.image }}" class="card-img-top" style="max-height: 500px; object-fit: cover" />
          <div class="card-body text-center">
            <h5 class="card-title">{{ allP.marque }} {{ allP.modele }}</h5>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item" style="height: 64px">{{ allP.marque }}</li>
              <li class="list-group-item" style="height: 32px">{{ allP.modele }}</li>
              <li class="list-group-item" style="height: 32px">{{ allP.puissance }}</li>
              <li class="list-group-item" style="height: 32px"><b>{{ allP.prix }} €</b></li>
            </ul>
          </div>
          <div class="card-footer text-center">

            <button type="button" (click)="getDetail(allP)" class="btn " data-bs-toggle="modal"
              data-bs-target="#exampleModalToggle"><small> Voir plus de
                détails </small></button>

          </div>
        </div>
      </div>
    </div>
    <!-- FIN BOUCLE all véhicules -->


  </div>




  <div class="container-fluid">

    <!-- Modal all info-->
    <!-- grande carte -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
      tabindex="-1">
      <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content" *ngIf="waitInfo">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1 {{this.detailRecup.marque}}
              {{this.detailRecup.modele}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="container-fluid">
              <!-- grande carte -->
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-7">

                    <!-- carousel -->
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-indicators bg-dark rounded-pill">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                          class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                          aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                          aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner" style="max-height: 500px; object-fit: cover">
                        <div class="carousel-item active">
                          <img src="{{this.detailRecup.image}}" class="d-block w-100" style="object-fit: cover" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="{{this.detailRecup.image2}}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="{{this.detailRecup.image3}}" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon rounded-circle bg-dark" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon rounded-circle bg-dark " aria-hidden="true"></span>
                        <span class="visually-hidden bg-dark text-black-50">Next</span>
                      </button>
                    </div>
                    <!-- fin carousel -->
                  </div>


                  <!-- card info left -->
                  <div class="col-md-5">
                    <div class="card-body">
                      <h5 class="card-title">Marque : {{this.detailRecup.marque}} </h5>
                      <h5 class="card-title">Modele : {{this.detailRecup.modele}}</h5>
                      <p class="card-text">A propos du véhicule : {{this.detailRecup.description}}</p>
                      <p>Etat neuf</p>
                      <div class="row">
                        <div class="col-6">
                          <p>Autonomie : {{this.detailRecup.autonomie}}</p>
                        </div>
                        <div class="col-6">
                          <p>Puissance : {{this.detailRecup.puissance}}</p>
                        </div>
                      </div>


                      <div>
                        <p>Equivalent : {{this.detailRecup.equivalent}}</p>
                      </div>
                      <!-- <div class="col-6"><p>Puissance : {{this.detailRecup.puissance}}</p></div> -->


                      <div>
                        <p class="fs-4">Permis : {{this.detailRecup.permis}}</p>
                      </div>


                      <p class="card-text"><strong class="text-muted">Prix : {{this.detailRecup.prix}} €</strong></p>
                    </div>
                  </div>
                  <!--   fin card info left -->
                </div>
              </div>
              <!-- FIN grande carte -->

            </div>
            <!--fluid -->
          </div>
          <!--body -->


          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
              (click)="takeCommand()">Passer une commande</button>
          </div>
        </div>
      </div>
    </div><!--    FIN Modal all info-->


    <!-- modal info user -->
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel2">achat du modéle {{this.commandRecap.modele}} de la
              marque {{this.commandRecap.marque}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- FORM addInfoUser -->

            <div *ngIf="this.commandRecap" class="container mt-5">
              <form #f="ngForm" class="row  g-3 shadow-lg mb-4 p-2 bg-body rounded">

                <p> Information du client</p>

                <div name="sex" class="col-12">
                  <label for="inputState" class="form-label">Civilité</label>
                  <select name="sex" class="form-select" ngModel required>

                    <option>monsieur</option>
                    <option>madame</option>

                  </select>
                </div>

                <div class="col-12">
                  <label for="nom" class="form-label">NOM</label>
                  <input type="text" class="form-control" name="nom" ngModel required>

                </div>
                <div class="col-12">
                  <label for="prenom" class="form-label">Prénom</label>
                  <input type="text" class="form-control" name="prenom" ngModel required>

                </div>

                <div class="col-12">
                  <label for="adresseMail" class="form-label">Adresse mail
                  </label>
                  <input type="mail" class="form-control" name="adresseMail" ngModel required>
                </div>

                <div class="col-12">
                  <label for="age" class="form-label">Date de naissance</label>
                  <input type="date" class="form-control" placeholder="ex: 28/08/2022" name="age" ngModel required>
                </div>

                <div class="col-12">
                  <label for="adresse" class="form-label">Adresse</label>
                  <input type="text" class="form-control" name="adresse" ngModel required>
                </div>

                <div class="col-12">
                  <label for="ville" class="form-label">Ville</label>
                  <input type="text" class="form-control" name="ville" ngModel required>
                </div>
                <div class="col-12">
                  <label for="codePostal" class="form-label">Code postal</label>
                  <input type="number" class="form-control" name="codePostal" ngModel required>
                </div>

                <div class="col-12 border border-dark">
                  <label for="nbJour" class="form-label">Prix du véhicule</label>
                  <p>{{this.commandRecap.prix}} €</p>
                </div>

                <div *ngIf="this.detailRecup " class="col-12 mt-5">

                  <button (click)="validCommand(f.value)" class="btn btn-primary" data-bs-target="#modalConfirmBuy"
                    data-bs-toggle="modal">Valider mes informations </button>

                  <button type="button" class="btn btn-warning" data-bs-dismiss="modal" aria-label="Close">
                    Fermer</button>
                </div>
              </form>

            </div>
            <!-- fin form -->


          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to
              first</button>
          </div>
        </div>
      </div>
    </div>
    <!-- fin modal info user -->

  </div>



  <!-- Modal Récapitulatif/Confirm-->
  <div class="modal fade" id="modalConfirmBuy" tabindex="-1" aria-labelledby="modalConfirmBuyLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="this.commandRecap">
        <div class="modal-header">
          <h5 class="modal-title" id="modalConfirmBuyLabel">Récap confirme {{this.commandRecap.sex}}
            {{this.commandRecap.nom}} {{this.commandRecap.prenom}} </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>La commande du modèle {{this.commandRecap.modele}} de la marque {{this.commandRecap.marque}} est bien
            confirmée.</p>
          <p> Le total à régler est de {{this.commandRecap.prix}} €. </p>
          <p>La livraison se fera après réception du paiement chez {{this.commandRecap.sex}} {{this.commandRecap.nom}}
            {{this.commandRecap.prenom}} </p>
          <p> à l'adresse : {{this.commandRecap.adresse}}. Ville : {{this.commandRecap.ville}}
            {{this.commandRecap.codePostal}}</p>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>

      </div>
    </div>
  </div>
  <!-- fin  Modal Récapitulatif/Confirm-->

</div>


<div class="text-center pt-3">
  <nav aria-label="Page navigation example">
    <pagination-controls previousLabel="Précédent" nextLabel="Suivant" (pageChange)="pageChange($event)"
      class="justify-content-center">
    </pagination-controls>
  </nav>
</div>