
<div id="carouselExampleDark" class="carousel carousel-white slide w-auto h-100" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://media.gqmagazine.fr/photos/625833bd14a3176d859249b8/master/pass/eqxx%201.jpg"
                class="d-block w-100" style="max-height: 900px">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-white-50">Mercedes Vision EQXX</h5>
                <p class="text-white-50">un record : 1000 km en une seule charge</p>
            </div>
        </div>

        <div class="carousel-item bg-black" data-bs-interval="2000">
            <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/a/1/0/a1050344bb_50158473_nawa-racer-7.jpg"
                class="d-block mx-auto" style="max-height: 900px">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-black">Nawa Racer</h5>
                <p class="text-white-50">la moto électrique française à supercondensateurs et batterie lithium, bientôt
                    sur la route</p>
            </div>
        </div>

        <div class="carousel-item bg-black">
            <img src="https://d1fmx1rbmqrxrr.cloudfront.net/cnet/optim/i/edit/2020/03/race-trot-big__w1200.jpg"
                class="d-block mx-auto w-90 align-center" style="max-height: 900px">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-black">Les 14 & 15 mai 2022 à Londres</h5>
                <p class="text-black">a eu lieu le tout premier championnat du monde de trottinettes électriques.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<h2 class="w-100 text-center text-success p-5 bg-light">Mobilité urbaine</h2>


<!-- <div class="container">

    <p> Le marché de la mobilité est en plein essor. De nouveaux modes de déplacements fleurissent un peu partout dans
        les métropoles. En ville, trottinettes, vélos, hoveboards et autres engins deviennent les nouveaux standards
        pour se déplacer. D’ailleurs, les aménagements urbains ne manquent pas pour privilégier les pistes cyclables et
        les piétons. De plus, l’arrivée de la vignette Crit’Air constitue une belle opportunité pour le marché de la
        mobilité électrique. Les ventes de véhicules électriques ne cessent d’augmenter.</p>

    <p> Si depuis quelques années déjà, notre société montre des signaux de changements quant à nos modes de déplacement
        et notre rapport à la voiture, la tendance s’accélère depuis peu. Une mutation qui s’explique en partie par la
        crise économique, le coût du carburant et la prise de conscience de son impact sur notre santé et notre climat.
        En outre, l’assujettissement des transports au pétrole et sa raréfaction soumettent la France à a des tensions
        sociales. C’est dans ce contexte que se développe la mobilité électrique en tant que mode de transport
        alternatif au véhicule thermique. Il paraît maintenant indispensable de réduire cette subordination à
        l’importation d’énergies fossiles. Cela passe nécessairement par une réduction de leur consommation et la
        recherche de l’indépendance énergétique.</p>

    <h3 class="mt-5 mb-5">Trottinette électrique, la concurrente ?</h3>

    <p> Si le vélo s’impose jusqu’ici comme la solution plébiscitée par les usagers français, on voit depuis quelque
        temps, émerger une nouvelle famille de véhicules qui slaloment sur les trottoirs et se glissent dès que possible
        sur les pistes cyclables : il s’agit de la trottinette électrique. Grâce à une batterie et à un moteur embarqué,
        le passager avance en ne fournissant qu’un effort minimal.</p>

    <p class="mb-5">La plupart des modèles fonctionnent à l’aide d’une petite gâchette située au niveau du guidon, qu’il
        suffit d’actionner pour que le moteur se mette en marche. La seule contrainte tient lieu de protection : pour
        éviter les déclenchements intempestifs, il faut généralement lancer l’engin avec une première impulsion du pied.
        Pour le reste, la trottinette offre une conduite sans autre effort que celui de la station debout, mais
        attention : son autonomie n’a souvent rien à voir avec celle d’un vélo ! Les modèles de bonne qualité permettent
        d’atteindre une vitesse de l’ordre de 25 Km/h qui correspondent à la réglementation en vigueur, mais la batterie
        intégrée n’autorise que rarement plus de 15 Km d’autonomie, avec une dégradation rapide des performances au fil
        de la décharge. Le vélo électrique offre donc à la fois des performances et une autonomie supérieures, de quoi
        envisager plusieurs jours de déplacements quotidiens sans avoir à emmener un chargeur avec soi.</p>

    <p> Extrait de www.comptazine.fr</p>

</div> -->