
<div class="container mt-5 mb-5">

    <h4 class=" text-center m-auto mb-5">Ajouter un produit</h4>


    <form (ngSubmit)="saveV(produitForm)" #produitForm="ngForm">

      

        <div name="categorie1" class="col-md-4 mb-3">
            <label  for="inputState" class="form-label">Catégorie véhicule</label>
            <select name="categorie" ngModel="" id="categorie" class="form-select">
            
            <option value="voiture" >voiture</option>
            <option value="moto" >moto</option>
            <option value="trottinette" >trottinette</option>
                
            </select>
        </div>



        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">entrer la marque du véhicule</span>
            <input type="text" class="form-control" placeholder="exemple: CITROEN, TESLA, SUPER SOCO, TROMOX MINO" name="marque"
                aria-describedby="basic-addon3" ngModel required="standalone">
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">entrer le nom/modèle du véhicule</span>
            <input type="text" class="form-control" placeholder="exemple: TROMOX MINO" name="modele"
                aria-describedby="basic-addon3" ngModel required="standalone">
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">entrer autonomie en précisant "km"</span>
            <input type="text" class="form-control" placeholder="exemple: 110 km" name="autonomie"
                aria-describedby="basic-addon3" ngModel>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">entrer année de commercialisation si voiture</span>
            <input type="text" class="form-control" placeholder="2018, 2021,..." name="annee"
                aria-describedby="basic-addon3" ngModel>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">entrer nombre de km parcouru si voiture</span>
            <input type="text" class="form-control" placeholder="81777, 65142..." name="kilometrage"
                aria-describedby="basic-addon3" ngModel>
        </div>

        <div name="permis1" class="col-md-4 mb-3">
            <label  for="inputState" class="form-label ">si moto, choisir type de permis</label>
            <select name="permis"  ngModel="" id="permis" class="form-select">
            
            <option value="permis moto" >permis moto</option>
            <option value="sans permis" >sans permis</option>
            
                
            </select>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">entrer le prix</span>
            <input type="number" class="form-control" placeholder="exemple: 14789" name="prix"
                aria-describedby="basic-addon3" ngModel>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">entrer la puissance en Watt</span>
            <input type="number" class="form-control" placeholder="exemple: 7500" name="puissance"
                aria-describedby="basic-addon3" ngModel>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">si moto, entrer l'équivalent par rapport à une moto classique</span>
            <input type="text" class="form-control" placeholder="exemple: Équivalent 50 cm3" name="equivalent"
                aria-describedby="basic-addon3" ngModel>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">description</span>

            <textarea class="form-control" placeholder="description" name="description" id="floatingTextarea"  ngModel></textarea>
            
        </div>



        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">entrer l'url de l'image principale</span>
            <input type="text" class="form-control"
                placeholder="exemple: https://www.go2roues.com/wp-content/uploads/2021/07/ebroh-bravo-cr-vert-trois-quart-face-droit.jpg"
                name="image" aria-describedby="basic-addon3" ngModel>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">entrer l'url de l'image 2</span>
            <input type="text" class="form-control"
                placeholder="exemple: https://www.go2roues.com/wp-content/uploads/2021/07/ebroh-bravo-cr-vert-trois-quart-face-droit.jpg"
                name="image2" aria-describedby="basic-addon3" ngModel>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">entrer l'url de l'image 3</span>
            <input type="text" class="form-control"
                placeholder="exemple: https://www.go2roues.com/wp-content/uploads/2021/07/ebroh-bravo-cr-vert-trois-quart-face-droit.jpg"
                name="image3" aria-describedby="basic-addon3" ngModel>
        </div>




        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ajoutReussi" type="submit">Valider</button>



    <!-- Modal -->
    <div class="modal fade" id="ajoutReussi" tabindex="-1" aria-labelledby="ajoutReussiLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ajoutReussiLabel"> SUCCESS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    AJOUT REUSSI
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="nav-link" routerLink="/products"><button class="btn btn-primary " data-bs-dismiss="modal" >Voir les produits</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->



    </form>




    <!-- Button trigger modal -->






</div>