
:host >>> ngx-skeleton-loader .loader{
  height: 30px;
  width: 300px;
  background-color: orange;
}

.sizeModalDialog{
    max-width: 100%
  }
  
  .sizeModal{
    margin: 3% 2% 2% 2%;
      max-width: 97vw;
      max-height: 93vh;
      /* padding: auto; */
      /* margin: 1vh 0 1vh 1vw;
      margin: 1vh 0 1vh 1vw; */
      /* padding-right: 2%; */
  }
  /* .ngx-pagination li.current{
      background: #198754 !important;
      background-color: rgb(25, 135, 84) !important;
  } */
  
  .btn-close{
    color: #DDFFF7;
    border: 2px black solid;
  }
  
  