<h2 class="text-center text-success p-5 bg-light">Trottinettes</h2>
<div class="bg-dark p-3">
    <div class="container pb-3">

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col" *ngFor="let t of trottinette">
                <div class="card h-100">
                    <img src="{{ t.image }}" class="card-img-top" style="max-height: 600px; object-fit: contain" />
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ t.marque }} {{ t.modele }}</h5>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item" style="height: 64px">{{ t.marque }}</li>
                            <li class="list-group-item" style="height: 32px">{{ t.modele }}</li>
                            <li class="list-group-item" style="height: 32px">{{ t.puissance }}</li>
                            <li class="list-group-item" style="height: 32px"><b>{{ formatPrice(t.prix) }} €</b></li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">

                        <button type="button" (click)="getDetail(t)" class="btn " data-bs-toggle="modal"
                            data-bs-target="#exampleModalToggle"><small> Voir plus de
                                détails </small></button>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid">

        <!-- Modal all info-->
        <!-- grande carte -->
        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
            tabindex="-1">
            <div class="modal-dialog modal-fullscreen modal-dialog-centered">
                <div class="modal-content" *ngIf="waitInfo">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel"> <button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button> {{this.detailRecup.marque}}
                            {{this.detailRecup.modele}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- <div class="modal-header row justify-content-between custom-line">
                        <div class="col-1"><p class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></p></div>
                        <div class="col-10"><h5 class="modal-title" id="exampleModalToggleLabel"> {{this.detailRecup.marque}} {{this.detailRecup.modele}}</h5></div>
                        <div class="col-1"><p class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></p></div>
                    </div> -->

                    <div class="modal-body bg-dark">

                        <div class="container-fluid">
                            <!-- grande carte -->
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-6 col-lg-7">

                                        <!-- carousel -->
                                        <div id="carouselExampleIndicators" class="carousel slide"
                                            data-bs-ride="carousel">
                                            <div class="carousel-indicators bg-dark rounded-pill">
                                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                                    data-bs-slide-to="0" class="active" aria-current="true"
                                                    aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                                    data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                                    data-bs-slide-to="2" aria-label="Slide 3"></button>
                                            </div>
                                            <div class="carousel-inner"
                                                style="height: 500px; object-fit: scale-down; border:solid 2px ">
                                                <div class="carousel-item active" style="height: 500px;">
                                                    <img src="{{this.detailRecup.image}}" class="d-block w-100"
                                                        style="height: 500px; object-fit: scale-down; border:solid 2px "
                                                        alt="...">
                                                </div>
                                                <div class="carousel-item" style="height: 500px;">
                                                    <img src="{{this.detailRecup.image2}}" class="d-block w-100"
                                                        style="height: 500px; object-fit: scale-down; border:solid 2px "
                                                        alt="...">
                                                </div>
                                                <div class="carousel-item" style="height: 500px;">
                                                    <img src="{{this.detailRecup.image3}}" class="d-block w-100"
                                                        style="height: 500px; object-fit: scale-down; border:solid 2px "
                                                        alt="...">
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon rounded-circle bg-dark"
                                                    aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next " type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                <span class="carousel-control-next-icon rounded-circle bg-dark "
                                                    aria-hidden="true"></span>
                                                <span class="visually-hidden bg-dark text-black-50">Next</span>
                                            </button>
                                        </div>
                                        <!-- fin carousel -->
                                    </div>


                                    <!-- card info left -->
                                    <div class="col-md-5">
                                        <div class="card-body">
                                            <h5 class="card-title">Marque : {{this.detailRecup.marque}} </h5>
                                            <h5 class="card-title">Modèle : {{this.detailRecup.modele}}</h5>
                                            <p class="card-text"><u>A propos du véhicule</u> : <br>{{this.detailRecup.description}}
                                            </p>
                                            <p>Etat neuf</p>
                                            <div class="row">
                                                <div class="col-6">
                                                    <p>Autonomie : {{this.detailRecup.autonomie}}</p>
                                                </div>
                                                <div class="col-6">
                                                    <p>Puissance : {{this.detailRecup.puissance}}</p>
                                                </div>
                                            </div>

                                            <p class="card-text"><strong class="text-muted">Prix :
                                                    <span
                                                        style=" letter-spacing: 0.4em;">{{formatPrice(this.detailRecup.prix)}}</span>
                                                    €</strong></p>
                                        </div>
                                    </div>
                                    <!--   fin card info left -->
                                </div>
                            </div>
                            <!-- FIN grande carte -->

                        </div>
                        <!--fluid -->
                    </div>
                    <!--body -->


                    <div class="modal-footer">
                        <button class="btn btn-success" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                            (click)="takeCommand()">Passer une commande</button>
                    </div>
                </div>
            </div>
        </div><!--    FIN Modal all info-->


        <!-- modal info user -->
        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">ACHAT du modèle
                            <strong>{{this.commandRecap.modele}}</strong> de la marque
                            <strong>{{this.commandRecap.marque}}</strong>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- FORM addInfoUser -->

                        <div *ngIf="this.commandRecap" class="container mt-5">
                            <form #f="ngForm" class="row  g-3 shadow-lg mb-4 p-2 bg-body rounded">

                                <p class="text-center"> Saisir VOS informations</p>

                                <div name="sex" class="col-12">
                                    <label for="inputState" class="form-label">Civilité</label>
                                    <select name="sex" class="form-select" ngModel required>

                                        <option>monsieur</option>
                                        <option>madame</option>

                                    </select>
                                </div>

                                <div class="col-12">
                                    <label for="nom" class="form-label">NOM</label>
                                    <input type="text" class="form-control" name="nom" ngModel required>

                                </div>
                                <div class="col-12">
                                    <label for="prenom" class="form-label">Prénom</label>
                                    <input type="text" class="form-control" name="prenom" ngModel required>

                                </div>

                                <div class="col-12">
                                    <label for="adresseMail" class="form-label">Adresse mail
                                    </label>
                                    <input type="mail" class="form-control" name="adresseMail" ngModel required>
                                </div>

                                <div class="col-12">
                                    <label for="age" class="form-label">Date de naissance</label>
                                    <input type="date" class="form-control" placeholder="ex: 28/08/2022" name="age"
                                        ngModel required>
                                </div>

                                <div class="col-12">
                                    <label for="adresse" class="form-label">Adresse</label>
                                    <input type="text" class="form-control" name="adresse" ngModel required>
                                </div>

                                <div class="col-12">
                                    <label for="ville" class="form-label">Ville</label>
                                    <input type="text" class="form-control" name="ville" ngModel required>
                                </div>
                                <div class="col-12">
                                    <label for="codePostal" class="form-label">Code postal</label>
                                    <input type="number" class="form-control" name="codePostal" ngModel required>
                                </div>

                                <div class="col-12 border border-dark text text-center">
                                    <label for="nbJour" class="form-label">Prix du véhicule</label>
                                    <p style="letter-spacing: 0.4em;"><strong>{{formatPrice(this.commandRecap.prix)}} € </strong></p>
                                </div>

                                <div *ngIf="this.detailRecup " class="col-12 mt-5 d-flex justify-content-between">

                                    <button (click)="validCommand(f.value)" class="btn btn-success"
                                        data-bs-target="#modalConfirmBuy" data-bs-toggle="modal">Valider mes
                                        informations </button>

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        aria-label="Close"> Fermer</button>
                                </div>
                            </form>

                        </div>
                        <!-- fin form -->


                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-dark" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Retour
                            fiche véhicule</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin modal info user -->

    </div>



    <!-- Modal Récapitulatif/Confirm-->
    <div class="modal fade" id="modalConfirmBuy" tabindex="-1" aria-labelledby="modalConfirmBuyLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" *ngIf="this.commandRecap">

                <div class="modal-header">
                    <h5 class="modal-title text-success" id="modalConfirmBuyLabel"> CONFIRMATION de votre ACHAT<br> <strong>{{this.commandRecap.sex}} {{this.commandRecap.prenom}} {{this.commandRecap.nom}}
                        </strong>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p> La commande du modèle <strong>{{this.commandRecap.modele}}</strong> de la marque
                        <strong>{{this.commandRecap.marque}}</strong> est bien confirmée.
                    </p>
                    <p> Le total à régler est de <strong>{{formatPrice(this.commandRecap.prix)}} € </strong></p>
                    <hr>
                    <p> La livraison se fera après réception du paiement de <strong>{{this.commandRecap.sex}}
                            {{this.commandRecap.prenom}} {{this.commandRecap.nom}} </strong></p>
                    <p> à l'adresse : <strong>{{this.commandRecap.adresse}}</strong>. Ville :
                        <strong>{{this.commandRecap.ville}} {{this.commandRecap.codePostal}} </strong>
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Fermer</button>
                </div>

            </div>
        </div>
    </div>
    <!-- fin  Modal Récapitulatif/Confirm-->
</div>