<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
              

                <th>Categorie </th>
                <th>Marque  </th>
                <th>Modele  </th>
                <th>Autonomie </th>
                <th>Prix</th>
                <th>Image</th>
                <!-- <th>Images</th> -->
                <th>Détails</th>



                <th>Supprimer véhicule  </th>

                <!--<th>Réservé/Annulé </th>
                <th>Modifier info </th> -->
    
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let allP of allProducts;" [ngClass]="{'table-success' : allP.confirme, 'table-striped ': !allP.confirme}">
                
            <!-- <tr class="d-flex flex-column"  *ngFor="let allP of allProducts;" [ngClass]="{'table-success' : allP.confirme, 'table-striped ': !allP.confirme}"> -->
                

                <td> {{allP.categorie}} </td>
                <td> {{allP.marque}} </td>
                <td> {{allP.modele}} </td>
                <td> {{allP.autonomie}}</td>
                <td> {{allP.prix}} €</td>

                <td style="max-width: 50px; max-height: 50px;"> 
                    <img src="{{allP.image}}" class="card-img-top" style="max-height: 50px; object-fit: cover" alt="">
                </td>


                <td> <button type="button" class="btn btn-outline-dark" (click)="getDetail(allP)"  data-bs-toggle="modal"
                    data-bs-target="#allInfo"><small> Voir plus de
                      détails </small></button>
                </td>

                <td><!-- UPDATE Button trigger modal -->
                  <button type="button" class="btn  btn-outline-warning" (click)="getDetail(allP)"  data-bs-toggle="modal"
                  data-bs-target="#updateModal"><small> Modifier des informations </small></button>
              </td>

                      <td>
                        <!-- DELETE Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="getDetail(allP)">
                            Supprimer
                          </button>
                      </td>
                          
              </tr>
        </tbody>

    </table>





<!-- UPDATE MODAL -->

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"  *ngIf="waitInfo">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Modifier {{this.detailRecup.marque}} {{this.detailRecup.modele}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="getallProducts()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
<!-- form update -->
    <form class="mb-3">

      <div name="categorie1" class="col-md-4 mb-3">
          <label  for="inputState" class="form-label">Catégorie véhicule</label>
          <select name="categorie" [(ngModel)]="detailRecup.categorie" id="categorie" class="form-select">
          
          <option value="voiture" >voiture</option>
          <option value="moto" >moto</option>
          <option value="trottinette" >trottinette</option>
              
          </select>
      </div>



      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">entrer la marque du véhicule</span>
          <input type="text" class="form-control" placeholder="exemple: CITROEN, TESLA, SUPER SOCO, TROMOX MINO" name="marque"
              aria-describedby="basic-addon3"  [(ngModel)]="detailRecup.marque" required>
      </div>


      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">entrer le nom/modele du véhicule</span>
          <input type="text" class="form-control" placeholder="exemple: TROMOX MINO" name="modele"
              aria-describedby="basic-addon3"  [(ngModel)]="detailRecup.modele" required>
      </div>


      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">entrer autonomie en précisant "km"</span>
          <input type="text" class="form-control" placeholder="exemple: 110 km" name="autonomie"
              aria-describedby="basic-addon3" [(ngModel)]="detailRecup.autonomie">
      </div>

      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">entrer annee de commercialisation si voiture</span>
          <input type="text" class="form-control" placeholder="2018, 2021,..." name="annee"
              aria-describedby="basic-addon3" [(ngModel)]="detailRecup.annee" required>
      </div>

      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">entrer nombre de km parcouru si voiture</span>
          <input type="text" class="form-control" placeholder="81777, 65142..." name="kilometrage"
              aria-describedby="basic-addon3" [(ngModel)]="detailRecup.kilometrage" required>
      </div>

      <div name="permis1" class="col-md-4 mb-3">
          <label  for="inputState" class="form-label ">Si moto choisir type de permis</label>
          <select name="permis"  [(ngModel)]="detailRecup.permis" required id="permis" class="form-select">
          
          <option value="permis moto" >permis moto</option>
          <option value="sans permis" >sans permis</option>
          
              
          </select>
      </div>

      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">entrer le prix</span>
          <input type="number" class="form-control" placeholder="exemple: 14789" name="prix"
              aria-describedby="basic-addon3" [(ngModel)]="detailRecup.prix" required>
      </div>

      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">entrer la puissance en Watt</span>
          <input type="number" class="form-control" placeholder="exemple: 7500" name="puissance"
              aria-describedby="basic-addon3" [(ngModel)]="detailRecup.puissance" required>
      </div>

      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">si moto entrer l'équivalent par rapport à une moto classique</span>
          <input type="text" class="form-control" placeholder="exemple: Équivalent 50 cm3" name="equivalent"
              aria-describedby="basic-addon3" [(ngModel)]="detailRecup.equivalent" required>
      </div>

      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">description</span>

          <textarea class="form-control" placeholder="description" name="description" id="floatingTextarea"  [(ngModel)]="detailRecup.description" required></textarea>
          
      </div>



      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">entrer l'url de l'image principal</span>
          <input type="text" class="form-control"
              placeholder="exemple: https://www.go2roues.com/wp-content/uploads/2021/07/ebroh-bravo-cr-vert-trois-quart-face-droit.jpg"
              name="image" aria-describedby="basic-addon3" [(ngModel)]="detailRecup.image" required>
      </div>

      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">entrer l'url de l'image 2</span>
          <input type="text" class="form-control"
              placeholder="exemple: https://www.go2roues.com/wp-content/uploads/2021/07/ebroh-bravo-cr-vert-trois-quart-face-droit.jpg"
              name="image2" aria-describedby="basic-addon3" [(ngModel)]="detailRecup.image2" required>
      </div>

      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">entrer l'url de l'image 3</span>
          <input type="text" class="form-control"
              placeholder="exemple: https://www.go2roues.com/wp-content/uploads/2021/07/ebroh-bravo-cr-vert-trois-quart-face-droit.jpg"
              name="image3" aria-describedby="basic-addon3" [(ngModel)]="detailRecup.image3" required>
      </div>
  
    
  
<div class="">
  <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateReussi"   (click)="vUpdate()"     type="submit">Effectuer modification</button>
</div>

  </form>
<!-- fin form update -->

      </div>
      <div class="modal-footer">
        <!-- button valider update -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!-- FIN UPDATE MODAL -->

<!-- Modal updateReussi-->
<div class="modal fade" id="updateReussi" tabindex="-1" aria-labelledby="updateReussiLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="updateReussiLabel"> SUCCESS</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="getallProducts()" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Modification réussi
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getallProducts()" >Close</button>
              <a class="nav-link" routerLink="/products"><button class="btn btn-primary " data-bs-dismiss="modal" >Voir les produits</button></a>
          </div>
      </div>
  </div>
</div>
<!-- fin Modal updateReussi-->



<!-- MODAL DELETE -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg modal-dialog-scrollable">
    <div class="modal-content" style="height: 450px;" *ngIf="waitInfo">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Supprimer {{this.detailRecup.marque}} {{this.detailRecup.modele}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        Etes vous sur de vouloir supprimer ce véhicule. Cette action est définitive.
            <div class="row">
              <div class="col-4"><div class="" style="max-width: 250px; max-height: 250px;"> <img src="{{this.detailRecup.image}}" class="d-block w-100" alt="..." style="max-height: 250px; object-fit: cover"></div>
              </div>

              <div class="col-4"><div class="" style="max-width: 250px; max-height: 250px;"> <img src="{{this.detailRecup.image2}}" class="d-block w-100" alt="..." style="max-height: 250px; object-fit: cover"></div>
              </div>

              <div class="col-4"><div class="" style="max-width: 250px; max-height: 250px;"> <img src="{{this.detailRecup.image3}}" class="d-block w-100" alt="..." style="max-height: 250px; object-fit: cover"></div>
              </div>
            </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"  (click)="deleteV(this.detailRecup._id)" >Supprimer modal</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL DELETE -->

<!-- CONFIRM DELETE -->
<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="waitInfo">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="getallProducts()"></button>
      </div>
      <div class="modal-body">
        Le véhicule {{this.detailRecup.marque}} {{this.detailRecup.modele}} a bien été supprimé.
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getallProducts()">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN CONFIRM DELETE -->



    <!-- modal détail -->
<!-- Modal all info-->
<!-- Scrollable modal -->

<div class="modal fade" id="allInfo" tabindex="-1" aria-labelledby="allInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
  <div class="modal-content" *ngIf="waitInfo">
    <div class="modal-header">
      
      <h5 class="modal-title" id="allInfo"> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {{this.detailRecup.marque}} {{this.detailRecup.modele}}
        <small>Prix : </small>{{this.detailRecup.prix}} €
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">

        <!-- grande carte -->
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-6 col-lg-7">
              <!-- <img src="{{this.detailRecup.image3}}" class="img-fluid rounded-start" alt="..."> -->

              <!-- carousel -->
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators bg-dark rounded-pill">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{this.detailRecup.image}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{this.detailRecup.image2}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{this.detailRecup.image3}}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon rounded-circle bg-dark" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon rounded-circle bg-dark " aria-hidden="true"></span>
                  <span class="visually-hidden bg-dark text-black-50">Next</span>
                </button>
              </div>
              <!-- carousel -->


            </div>
            <div class="col-md-5">
              <div class="card-body">
                <h5 class="card-title">Marque : {{this.detailRecup.marque}} </h5>
                <h5 class="card-title">Modele : {{this.detailRecup.modele}}</h5>
                <p class="card-text">A propos du véhicule : {{this.detailRecup.description}}</p>
                <p>Etat neuf</p>
                <div class="row">
                  <div class="col-6">
                    <p>Autonomie : {{this.detailRecup.autonomie}}</p>
                  </div>
                  <div class="col-6">
                    <p>Puissance : {{this.detailRecup.puissance}}</p>
                  </div>
                </div>


                <div>
                  <p>Equivalent : {{this.detailRecup.equivalent}}</p>
                </div>
                <!-- <div class="col-6"><p>Puissance : {{this.detailRecup.puissance}}</p></div> -->


                <div>
                  <p class="fs-4">Permis : {{this.detailRecup.permis}}</p>
                </div>


                <p class="card-text"><strong class="text-muted">Prix : {{this.detailRecup.prix}} €</strong></p>
              </div>
            </div>
          </div>
        </div>
        <!-- FIN grande carte -->



      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      <button type="button" class="btn btn-primary">Etre contacté</button>
    </div>
  </div>
</div>
</div>
    <!-- FIN modal détail -->

</div>